@{
Layout = "_Layout";
}
<h2>Category</h2>
<div class="container">
<form action="/categories" method="post">
<label for="category-name">Food Category:</label>
<input name="category-name" type="text">
<label for="category-tag">Type:</label>
<input name="category-tag" type="text">
<button type="submit">Add</button>
</form>
</div>
