@{
  Layout = "_Layout";
}

<div class="card bg-faded card-block mb-3 p-3">
<h2 id="welcome">Welcome to Recipe Box!</h2>
</div>
<div class="container">
<h2>Enter a Recipe and Category below:</h2>
<hr>
<a href="/recipes" class="btn btn-warning">Recipe</a>
<br>
<br>
<a href="/categories" class="btn btn-warning">Category</a>
